---
export interface Props{
    navItems:{
        itemText:string,
        itemLink:string
    }[]
}

const {navItems} = Astro.props
---

<nav class="flex flex-wrap gap-x-4">
    {navItems.map((navItem)=>(
        <a href={navItem.itemLink} class="transition hover:text-primary">
            {navItem.itemText}
        </a>
    ))}
</nav>