---
import Container from "../components/shared/Container.astro";
import FooterNav from "../components/shared/FooterNav.astro";



const footerLegal = [
  {
    itemText: "Claim",
    itemLink: "#",
  },
  {
    itemText: "Privacy",
    itemLink: "#",
  },
  {
    itemText: "Terms",
    itemLink: "#",
  },
];
---

<div class="relative mt-16">
  <footer
    class="relative bg-gradient-to-tr from-slate-100/85 to-zinc-200/85 dark:from-slate-800/85 dark:to-zinc-800/85 pt-4 pb-4 rounded-t-3xl backdrop-blur-md"
  >
    <Container className="relative overflow-auto ">
      <div
        class="grid grid-cols-2 lg:grid-cols-3 lg:items-stretch gap-8 relative"
      >
        <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
          <div class="h-full">
            <FooterNav navItems={footerLegal} />
          </div>
        </div>
        <div class="w-100" />
        <div class="lg:text-right">
          &copy; <span id="year"></span> pek. All right reserved
        </div>
      </div>
    </Container>
  </footer>
</div>
