---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";

export interface Props {
  // title: string; --- IGNORE ---
}

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="light only" />
    <meta
      name="description"
      content="Predict-A-Pool is a web app for friends and family to predict the outcomes of their favorite pools."
    />
    <title>Predict-A-Pool</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style/custom.css" />
  </head>
  <body class="overflow-hidden overflow-y-auto bg-body">
    <Navbar />
    <slot />
    <Footer />
  </body>
  <script>
    detectSystemTheme();

    const switchTheme = document.querySelector(
      "[data-switch-theme]"
    ) as HTMLButtonElement | null;
    if (switchTheme) {
      switchTheme.addEventListener("click", (e) => {
        e.preventDefault();
        changeThemeManually();
      });
    }

    function changeThemeManually() {
      const isDark = document.documentElement.classList.contains("dark");
      if (isDark) {
        changeThemeToLight();
      } else {
        changeThemeToDark();
      }
    }

    function applyTheme(isDark: boolean) {
      document.documentElement.classList.toggle("dark", isDark);
      document.body.classList.toggle("dark", isDark);
    }

    function detectSystemTheme() {
      const localAppTheme = localStorage.getItem("theme");
      const prefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;
      const shouldUseDark = localAppTheme
        ? localAppTheme === "dark"
        : prefersDark;
      applyTheme(shouldUseDark);
    }

    function changeThemeToDark() {
      localStorage.setItem("theme", "dark");
      applyTheme(true);
    }

    function changeThemeToLight() {
      localStorage.setItem("theme", "light");
      applyTheme(false);
    }
  </script>
  <script>
    const toggleMenu = document.querySelector(
      "[data-toggle-nav]"
    ) as HTMLButtonElement;
    const navbar = document.querySelector("[data-navbar]") as HTMLDivElement;
    const overlayNav = document.querySelector(
      "[data-nav-overlay]"
    ) as HTMLDivElement;
    if (toggleMenu) {
      toggleMenu.addEventListener("click", (e) => {
        e.preventDefault();
        if (toggleMenu.getAttribute("data-open-nav") === "false") {
          toggleMenu.setAttribute("data-open-nav", "true");
          overlayNav.setAttribute("data-is-visible", "true");
          document.body.classList.add("!overflow-y-hidden");
          navbar.style.height = `${navbar.scrollHeight}px`;
        } else {
          toggleMenu.setAttribute("data-open-nav", "false");
          overlayNav.setAttribute("data-is-visible", "false");
          document.body.classList.remove("!overflow-y-hidden");
          navbar.style.height = "0px";
        }
      });

      navbar.addEventListener("click", () => {
        toggleMenu.setAttribute("data-open-nav", "false");
        overlayNav.setAttribute("data-is-visible", "false");
        document.body.classList.remove("!overflow-y-hidden");
        navbar.style.height = "0px";
      });

      overlayNav.addEventListener("click", () => {
        toggleMenu.setAttribute("data-open-nav", "false");
        overlayNav.setAttribute("data-is-visible", "false");
        document.body.classList.remove("!overflow-y-hidden");
        navbar.style.height = "0px";
      });
    }
  </script>
</html>
